openapi: 3.1.0
info:
  title: ABA PayWay Payment Gateway API
  version: 1.0.0
  description: |
    Hand-authored OpenAPI spec for ABA PayWay's Ecommerce Checkout surface,
    reconstructed from https://developer.payway.com.kh (Purchase, Check
    Transaction, Close Transaction, Refund, Get Transaction List, Get a
    Transaction Details, Exchange Rate) plus the return_url callback
    contract described on the Ecommerce Checkout overview page.

    ## Authentication model — READ BEFORE GENERATING CLIENT CODE

    PayWay does not use a transport-level auth scheme (no Bearer token, no
    API-key header). Every request carries a `hash` field **inside the
    request body itself**, computed as:

        hash = base64( HMAC-SHA512( concat(fields...), api_key ) )

    `api_key` is the merchant's secret, issued out-of-band by ABA Bank.
    `fields` is an **ordered, endpoint-specific** list of other body
    fields — see the `x-hmac-fields` extension on each operation below.
    OpenAPI's native `securitySchemes` object assumes auth material lives
    in a header/query/cookie, so it cannot express "sign these N body
    fields in this order." We model it instead as a vendor extension that
    SDK codegen tooling (or hand-written signing middleware) must read
    explicitly — do not rely on Stainless/Speakeasy/openapi-generator to
    infer this automatically; none of them do body-field HMAC signing out
    of the box.

    ### Non-negotiable implementation rules
    1. Every field listed in `x-hmac-fields` MUST occupy its position in
       the concatenation, even if the caller left it unset — substitute
       an empty string `''`, never omit the position. PayWay's reference
       PHP implementation concatenates raw (possibly-null) variables
       directly; omitting a position silently shifts every field after it
       and produces a hash mismatch (`code: 1`, "Wrong hash") with no
       further diagnostic detail.
    2. `req_time` MUST be UTC, formatted `YYYYMMDDHHmmss`, and generated
       at the moment of signing — not cached — since it is itself part of
       the signed payload.
    3. The callback (return_url) verification algorithm is DIFFERENT from
       request signing: sort response keys ascending, JSON-encode any
       array/object values, concatenate all values, HMAC-SHA512 against
       the same api_key, compare to the `X-PAYWAY-HMAC-SHA512` header
       using constant-time comparison. See the `PaymentCallback` webhook
       below. Do not reuse the request-signing function for this.
    4. `purchase` accepts `multipart/form-data`; `check-transaction` and
       `close-transaction` accept `application/json`. Do not assume a
       uniform content type across operations when generating client
       method signatures.
    5. `purchase`'s 200 response is polymorphic: HTML (hosted checkout
       page) by default, or a JSON object containing `qr_string`,
       `abapay_deeplink`, `checkout_qr_url` when
       `payment_option=abapay_khqr_deeplink`. Client method return types
       must model both branches — do not assume HTML-only.
    6. CONFIRMED via live sandbox probe (scripts/sandbox-probe.ts,
       2026-07-16): the `-2` suffix on `check-transaction-2` and
       `transaction-list-2` is real -- it is NOT a docs-platform
       artifact. Both the suffixed and legacy non-suffixed paths are
       live, but they are DIFFERENT API versions with different
       response shapes, not aliases:
         - check-transaction-2:  {"status":{"code":6,"message":"...","tran_id":"..."}}
         - check-transaction  :  {"status":6,"description":"..."}   <- flat, different key names
       Same pattern on transaction-list(-2): the -2 variant returns
       string-typed codes plus extra lang/trace_id fields; the legacy
       variant returns integer codes and a pw_tran_id field instead.
       This spec intentionally targets the -2 contract throughout --
       do not switch to the non-suffixed paths, their response shape
       does not match the schemas in this spec.
    7. `refund` uses a THIRD, distinct auth layer on top of HMAC: the
       `merchant_auth` field is an RSA-public-key-encrypted, then
       Base64-encoded, JSON blob of `{mc_id, tran_id, refund_amount}`.
       PayWay's reference implementation encrypts in 117-byte chunks
       (consistent with a 1024-bit RSA key under PKCS1 padding —
       worth flagging to ABA Bank as low by modern standards and
       confirming no larger key is available). This means your SDK's
       credential config needs to hold BOTH the HMAC `api_key` AND a
       separate RSA public key, and refund needs its own signing
       pipeline entirely distinct from every other operation. Do not
       try to unify it with `x-hmac-fields`.
    8. `refund` also uses `request_time` as its field name where every
       other endpoint uses `req_time` — this is very likely a vendor
       documentation inconsistency, not an intentional API difference,
       but the generated SDK method must honor it literally (send
       `request_time` on the wire for refund) or the request fails
       validation before the hash is even checked. Flag this loudly in
       code review; it's the kind of thing that gets "corrected" by
       someone skimming and then silently breaks in production.
    9. Path prefixes are not uniform: most operations live under
       `/api/payment-gateway/v1/...`, but `refund` lives under
       `/api/merchant-portal/merchant-access/online-transaction/refund`
       and `exchange-rate` lives directly under
       `/api/payment-gateway/v1/exchange-rate` (no `/payments/`
       segment). Do not assume a shared base path when generating
       client method routing.
    10. CONFIRMED via live sandbox probe (scripts/sandbox-probe.ts,
        2026-07-16): plain string concatenation is correct for ALL
        fields, including to_date/from_amount. Probed both variants
        with an intentionally invalid start date: the string-concat
        hash was ACCEPTED (server responded with a business-logic
        error, code "49" "Invalid Start Date" -- meaning it passed
        signature validation) while the PHP-arithmetic (+) hash was
        REJECTED (code "1", "Wrong Hash."). PayWay's own PHP reference
        sample has a typo; src/auth.ts's generateHmac() was already
        correct and needs no changes.
servers:
  - url: https://checkout-sandbox.payway.com.kh
    description: Sandbox (per PayWay docs export; confirm production host separately — likely checkout.payway.com.kh, not verified here)
security:
  - bodyFieldHmac: []
tags:
  - name: Ecommerce Checkout
    description: Core hosted-checkout payment flow
  - name: Credentials on File
    description: Tokenized card and account payments
  - name: ABA QR API
    description: Dynamic and static QR payments
  - name: Payment Link
    description: PayWay payment links creation
  - name: Pre-auth
    description: Pre-authorization holds and captures
  - name: Payout
    description: B2C/B2B disbursements
  - name: KHQR Guideline
    description: KHQR transaction lookup
paths:
  /api/payment-gateway/v1/payments/purchase:
    post:
      operationId: createPurchase
      summary: Create a purchase transaction
      tags:
        - Ecommerce Checkout
      description: |
        Initiates a payment transaction and returns either a hosted checkout page (HTML) or, for abapay_khqr_deeplink, a JSON payload containing the KHQR string and deeplinks. See info.description for the auth model this endpoint depends on.
      x-hmac-fields:
        - req_time
        - merchant_id
        - tran_id
        - amount
        - items
        - ctid
        - shipping
        - firstname
        - lastname
        - email
        - phone
        - type
        - payment_option
        - return_url
        - cancel_url
        - continue_success_url
        - return_deeplink
        - currency
        - custom_fields
        - return_params
        - payout
        - lifetime
        - additional_params
        - google_pay_token
        - skip_success_page
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PurchaseRequest'
      responses:
        '200':
          description: |
            Hosted checkout page (HTML) or a JSON QR payload, depending on payment_option. Response codes for the JSON error case are enumerated in ErrorStatus.
          content:
            text/html:
              schema:
                type: string
                description: Hosted checkout page markup to render/redirect the customer to.
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PurchaseQrResponse'
                  - $ref: '#/components/schemas/ErrorStatus'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-gateway/v1/payments/check-transaction-2:
    post:
      operationId: checkTransaction
      summary: Check transaction status (transactions younger than 7 days only)
      tags:
        - Ecommerce Checkout
      description: |
        Rate limit: 600 requests/second. For transactions older than 7 days, use Get Transaction Details instead (not in this skeleton — add before shipping if needed). NOTE: path includes an unverified "-2" suffix — confirm against sandbox; see info.description item 6.
      x-hmac-fields:
        - req_time
        - merchant_id
        - tran_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranLookupRequest'
            example:
              req_time: '20250213065545'
              merchant_id: ec000002
              tran_id: '17394277693'
              hash: 4slqXzgVig09Hf...2vgALgdENA==
      responses:
        '200':
          description: Transaction status payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckTransactionResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-gateway/v1/payments/close-transaction:
    post:
      operationId: closeTransaction
      summary: Close (cancel) a transaction before payment completes
      tags:
        - Ecommerce Checkout
      description: |
        Use for flash sales, bookings, or any flow needing to invalidate a transaction before the customer pays. Once closed, any incoming payment is rejected/reversed and no callback fires.
      x-hmac-fields:
        - req_time
        - merchant_id
        - tran_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranLookupRequest'
            example:
              req_time: '20241022053608'
              merchant_id: lavacafe
              tran_id: '1729573626'
              hash: ln9Td4JiGPc...R6y2tmUoF2NERNaQ==
      responses:
        '200':
          description: Close confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloseTransactionResponse'
              examples:
                success:
                  summary: Transaction closed successfully
                  value:
                    status:
                      code: '00'
                      message: Success!
                      tran_id: '1729573626'
                wrongHash:
                  summary: Hash mismatch
                  value:
                    status:
                      code: '1'
                      message: Wrong hash
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-gateway/v1/payments/transaction-detail:
    post:
      operationId: getTransactionDetail
      summary: Get full details of a past transaction, including operation history
      tags:
        - Ecommerce Checkout
      description: |
        Unlike check-transaction, this is NOT for real-time status checks during payment processing — it's for retrieving history on any past transaction, including its list of operations (captures, refunds, cancellations). Hard rate limit: 10 requests/minute, and per the docs this "cannot be increased" — do not build a polling pattern against this endpoint; use check-transaction for anything time-sensitive within 7 days.
      x-hmac-fields:
        - req_time
        - merchant_id
        - tran_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranLookupRequest'
            example:
              req_time: '20250213084236'
              merchant_id: ec000002
              tran_id: '17394277693'
              hash: QskVi2gEctW...j7Td6kEi/KLPvGcK3ZiA==
      responses:
        '200':
          description: Full transaction detail with operation history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetailResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-gateway/v1/payments/transaction-list-2:
    post:
      operationId: getTransactionList
      summary: List transactions for one outlet, filtered and paginated
      tags:
        - Ecommerce Checkout
      description: |
        Scoped to a SINGLE outlet — there is no "all outlets under this business profile" mode. Date range is capped at 3 days (including today), even reaching arbitrarily far into the past. Rate limit: 50 requests/minute. NOTE: path includes an unverified "-2" suffix, same caveat as check-transaction — see info.description item 6.
      x-hmac-fields:
        - req_time
        - merchant_id
        - from_date
        - to_date
        - from_amount
        - to_amount
        - status
        - page
        - pagination
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionListRequest'
            example:
              req_time: '20250213081756'
              merchant_id: ec000002
              from_date: null
              to_date: null
              from_amount: '0.01'
              to_amount: '1000'
              status: null
              page: '1'
              pagination: '40'
              hash: o1mDvIjTyzoFcN7zvm7...aUYAGXjsx4Ej0E6P2CoxtOQ==
      responses:
        '200':
          description: Paginated transaction list for the outlet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/merchant-portal/merchant-access/online-transaction/refund:
    post:
      operationId: refundTransaction
      summary: Issue a full or partial refund
      tags:
        - Ecommerce Checkout
      description: |
        Only COMPLETED transactions are eligible. Must be requested within 30 days of the original payment. Multiple partial refunds are allowed until the full paid amount is exhausted. ABA PAY refunds are immediate; Card/WeChat/Alipay follow PayWay's settlement agreement timing. Rate limit: 500 requests/second. CREDENTIALS: requires an RSA public key IN ADDITION TO the HMAC api_key — see info.description item 7. This is the only operation in this spec with that requirement.
      x-hmac-fields:
        - request_time
        - merchant_id
        - merchant_auth
      x-merchant-auth-encryption:
        algorithm: RSA public-key encryption, PKCS1 padding (chunk size implies 1024-bit key)
        chunk_size_bytes: 117
        plaintext_shape:
          mc_id: same value as merchant_id
          tran_id: purchase transaction id to refund
          refund_amount: decimal amount to refund
        process: |
          JSON-encode {mc_id, tran_id, refund_amount} -> split into 117-byte chunks -> RSA-encrypt each chunk with the merchant's RSA public key -> concatenate encrypted chunks -> base64 encode the result into the merchant_auth field. This encrypted value is then itself one of the three fields HMAC-signed into `hash` (see x-hmac-fields above).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
            example:
              request_time: '20200728093403'
              merchant_id: ec000002
              merchant_auth: REPLACE_ME
              hash: 3nd/2Z4g45...wnA2WA/M/Qg==
      responses:
        '200':
          description: Refund result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
              examples:
                success:
                  summary: Refund succeeded
                  value:
                    grand_total: 1.5
                    total_refunded: 0.09
                    currency: USD
                    transaction_status: REFUNDED
                    status:
                      code: '00'
                      message: Success!
                wrongHash:
                  summary: Hash mismatch (note the alphanumeric code — distinct code space from other endpoints)
                  value:
                    status:
                      code: PTL02
                      message: Wrong Hash
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-gateway/v1/exchange-rate:
    post:
      operationId: getExchangeRate
      summary: Fetch ABA Bank's current buy/sell exchange rates
      tags:
        - Ecommerce Checkout
      description: |
        Rates match https://www.ababank.com/en/forex-exchange. This is the only operation with a 2-field hash (no tran_id involved).
      x-hmac-fields:
        - req_time
        - merchant_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateRequest'
            example:
              req_time: '20250212104216'
              merchant_id: ec000002
              hash: 2P+5NrSb5g2XyITaxttsnjW...JVKguqghoQrq4y4C3tbUiA==
      responses:
        '200':
          description: Current exchange rates keyed by lowercase ISO currency code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-credential/v3/aof/link-account:
    post:
      operationId: linkAccount
      summary: Link an ABA account to your platform
      tags:
        - Credentials on File
      description: |
        Returns a QR code or ABA Mobile deeplink, enabling users to scan or use the deeplink to launch ABA Mobile and select an account to link. Once linked, PayWay sends account details and token to the merchant via callback_url. The QR/deeplink expires in 10 minutes. Live docs mark ctid, token_flag, and currency as REQUIRED.
      x-hmac-fields:
        - merchant_id
        - request_time
        - ctid
        - return_deeplink
        - callback_url
        - request_id
        - token_flag
        - currency
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkAccountRequest'
      responses:
        '200':
          description: QR code or deeplink for account linking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkAccountResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-credential/v3/cof/link-card:
    post:
      operationId: linkCard
      summary: Link a credit/debit card to your platform
      tags:
        - Credentials on File
      description: |
        Securely stores a customer's credit/debit card. ALWAYS responds with an HTML page (Visa/Mastercard/JCB/UPI form) to render in an iframe — on success AND on error; the token is delivered via callback_url. Live docs mark ctid, token_flag, and currency as REQUIRED.
      x-hmac-fields:
        - merchant_id
        - request_time
        - ctid
        - callback_url
        - request_id
        - token_flag
        - frequency
        - amount
        - currency
        - continue_success_url
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LinkCardRequest'
      responses:
        '200':
          description: Hosted card-linking HTML page (returned on success AND error)
          content:
            text/html:
              schema:
                type: string
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-gateway/v3/purchase/payment-credential:
    post:
      operationId: cofPayment
      summary: Charge a stored payment token
      tags:
        - Credentials on File
      description: |
        Initiates a payment using a previously linked account or card token. Live-documented token_flag values: CITU_FLEX, MITU_FLEX, MITR_FIX (ensure the merchant profile enables the matching business case). Amount floor: KHR >= 100, USD >= 0.01.
      x-hmac-fields:
        - request_time
        - merchant_id
        - tran_id
        - amount
        - currency
        - items
        - ctid
        - pwt
        - first_name
        - last_name
        - email
        - phone
        - purchase_type
        - callback_url
        - custom_fields
        - return_params
        - payout
        - token_flag
        - shipping_fee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CofPaymentRequest'
      responses:
        '200':
          description: Payment result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CofPaymentResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-credential/v3/token-management/renew-expired-account-token:
    post:
      operationId: renewToken
      summary: Renew an existing payment token
      tags:
        - Credentials on File
      description: |
        Renews an expired (or expiring) ACCOUNT token — card tokens cannot be renewed. CITI_FLEX/CITO_FLEX tokens expire 90 days after linking, renewal, or the last successful transaction (whichever is most recent). Renewal extends by 90 days. A callback is expected within 3 minutes; otherwise fall back to Get Token Details.
      x-hmac-fields:
        - ctid
        - request_time
        - pwt
        - merchant_id
        - request_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewTokenRequest'
      responses:
        '200':
          description: New token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewTokenResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-credential/v3/token-management/get-token-details:
    post:
      operationId: getTokenDetails
      summary: Get details of a linked account or card token
      tags:
        - Credentials on File
      description: |
        Manual retrieval when a link/renew callback was missed. Per the live docs this endpoint takes ONLY request_time, merchant_id, and request_id — no ctid and no pwt.
      x-hmac-fields:
        - merchant_id
        - request_time
        - request_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTokenDetailsRequest'
      responses:
        '200':
          description: Token details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenDetailsResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-credential/v3/token-management/remove-token:
    post:
      operationId: removeToken
      summary: Remove a stored payment token
      tags:
        - Credentials on File
      description: |
        Removes a linked account OR card token. IRREVERSIBLE — future charges decline with purchase error 87 and the ABA Mobile user is notified. Users can also remove the token themselves in ABA Mobile; the merchant then receives a CoF callback with status 0.
      x-hmac-fields:
        - merchant_id
        - ctid
        - request_time
        - pwt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTokenRequest'
      responses:
        '200':
          description: Token removal result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveTokenResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-gateway/v1/payments/generate-qr:
    post:
      operationId: generateQr
      summary: Generate a dynamic QR code for payment
      tags:
        - ABA QR API
      description: |
        Generates a dynamic KHQR code that can be displayed on any screen (POS terminal, kiosk, website) for customers to scan and pay. The QR is unique per transaction and expires after the configured lifetime. Supports ABA PAY and KHQR payment methods.
      x-hmac-fields:
        - req_time
        - merchant_id
        - tran_id
        - amount
        - items
        - first_name
        - last_name
        - email
        - phone
        - purchase_type
        - payment_option
        - callback_url
        - return_deeplink
        - currency
        - custom_fields
        - return_params
        - payout
        - lifetime
        - qr_image_template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateQrRequest'
      responses:
        '200':
          description: QR code payload and deeplinks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateQrResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/merchant-portal/merchant-access/payment-link/create:
    post:
      operationId: createPaymentLink
      summary: Create a payment link
      tags:
        - Payment Link
      description: |
        Generates a shareable payment link that can be sent to customers via SMS, email, chat, or any messaging platform. The link opens PayWay's hosted checkout page. Requires RSA-encrypted merchant_auth. Sandbox-verified: `currency` and `return_url` are REQUIRED inside merchant_auth — the gateway responds PTL04 "Parameter validation required" when either is omitted (undocumented in official docs).
      x-hmac-fields:
        - request_time
        - merchant_id
        - merchant_auth
      x-merchant-auth-encryption:
        algorithm: RSA public-key encryption, PKCS1 padding
        chunk_size_bytes: 117
        plaintext_shape:
          mc_id: same value as merchant_id
          title: title of the payment link (max 250 chars)
          amount: payment amount (min 100 KHR / 0.01 USD, not null/zero)
          currency: USD or KHR — REQUIRED (PTL04 when omitted)
          description: optional description of the payment link (max 250 characters — PTL04 when exceeded)
          payment_limit: optional limit on payments (blank = unlimited)
          expired_date: expiration timestamp in seconds (a null value means no expiry; sample passes time())
          return_url: base64-encoded callback URL — REQUIRED (PTL04 when omitted)
          merchant_ref_no: optional merchant-side link reference (max 50, echoed in callback)
          payout: optional JSON [{acc, amt}] — total payout must equal the link amount
        process: |
          JSON-encode the plaintext shape -> split into 117-byte chunks -> RSA-encrypt each chunk -> concatenate -> base64 encode into merchant_auth field. The optional top-level `image` (max 3MB, JPG/JPEG/PNG) is sent as a multipart part and never hashed.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreatePaymentLinkRequest'
      responses:
        '200':
          description: Payment link creation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePaymentLinkResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/merchant-portal/merchant-access/payment-link/detail:
    post:
      operationId: getPaymentLinkDetails
      summary: Get payment link details
      tags:
        - Payment Link
      description: |
        Retrieves the status and details of a previously created payment link. Also uses RSA-encrypted merchant_auth. The `id` is the `data.id` value returned by the create endpoint — NOT the slug in the payment_link URL.
      x-hmac-fields:
        - request_time
        - merchant_id
        - merchant_auth
      x-merchant-auth-encryption:
        algorithm: RSA public-key encryption, PKCS1 padding
        chunk_size_bytes: 117
        plaintext_shape:
          mc_id: same value as merchant_id
          id: the payment link ID to query (e.g. T+ErECeC9uCGj90ylqGUvw==)
        process: |
          JSON-encode {mc_id, id} -> RSA-encrypt in 117-byte chunks -> base64 encode into merchant_auth.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPaymentLinkDetailsRequest'
      responses:
        '200':
          description: Payment link details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentLinkDetailsResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/merchant-portal/merchant-access/payment-link/void:
    post:
      operationId: voidPaymentLink
      summary: Void (cancel) a payment link
      tags:
        - Payment Link
      description: |
        Voids a previously created payment link before it has been paid. Once voided the link can no longer receive payments and the action CANNOT be reversed. UNDOCUMENTED by PayWay (no official docs page) — the full contract is live-verified on the sandbox (SANDBOX-FINDINGS §23, 2026-09-11): same request family as detail (RSA-encrypted merchant_auth carrying {mc_id, id}); Content-Type lenient (both application/json and urlencoded accepted); success answers {status:{code:"00",message:"Success."}, tran_id} with a NUMERIC tran_id; double-void answers HTTP 403 code PTL188 "The payment link is already voided."; a bogus link id answers HTTP 403 code 96 "Invalid merchant data". Post-void, detail reports status "VOIDED" and the hosted page renders an invalid-data shell (page code 07).
      x-hmac-fields:
        - request_time
        - merchant_id
        - merchant_auth
      x-merchant-auth-encryption:
        algorithm: RSA public-key encryption, PKCS1 padding
        chunk_size_bytes: 117
        plaintext_shape:
          mc_id: same value as merchant_id
          id: the payment link ID to void (the data.id value returned by create — NOT the URL slug)
        process: |
          JSON-encode {mc_id, id} -> RSA-encrypt in 117-byte chunks -> base64 encode into merchant_auth.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VoidPaymentLinkRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/VoidPaymentLinkRequest'
      responses:
        '200':
          description: Payment link voided (terminal — a second void answers 403 PTL188)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoidPaymentLinkResponse'
        4XX:
          description: Client error (PTL188 already voided, 96 invalid link id, wrong hash)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/merchant-portal/merchant-access/online-transaction/pre-auth-completion:
    post:
      operationId: completePreAuth
      summary: Complete a pre-authorized transaction (capture funds)
      tags:
        - Pre-auth
      description: |
        Captures funds from a pre-authorized transaction. Must be called within the hold period (typically 7 days for cards). Only PRE-AUTH status transactions are eligible.
      x-hmac-fields:
        - merchant_auth
        - request_time
        - merchant_id
      x-merchant-auth-encryption:
        algorithm: RSA public-key encryption, PKCS1 padding
        chunk_size_bytes: 117
        plaintext_shape:
          mc_id: same value as merchant_id
          tran_id: pre-auth transaction id to complete
          complete_amount: capture amount (can be less than or equal to pre-auth amount)
        process: |
          JSON-encode {mc_id, tran_id, amount} -> RSA-encrypt in 117-byte chunks -> base64 encode into merchant_auth.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletePreAuthRequest'
      responses:
        '200':
          description: Pre-auth completion result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletePreAuthResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/merchant-portal/merchant-access/online-transaction/pre-auth-cancellation:
    post:
      operationId: cancelPreAuth
      summary: Cancel a pre-authorized transaction (release hold)
      tags:
        - Pre-auth
      description: |
        Releases the hold on funds from a pre-authorized transaction. Only PRE-AUTH status transactions can be cancelled.
      x-hmac-fields:
        - merchant_id
        - merchant_auth
        - request_time
      x-merchant-auth-encryption:
        algorithm: RSA public-key encryption, PKCS1 padding
        chunk_size_bytes: 117
        plaintext_shape:
          mc_id: same value as merchant_id
          tran_id: pre-auth transaction id to cancel
        process: |
          JSON-encode {mc_id, tran_id} -> RSA-encrypt in 117-byte chunks -> base64 encode into merchant_auth.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelPreAuthRequest'
      responses:
        '200':
          description: Pre-auth cancellation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPreAuthResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-gateway/v2/direct-payment/merchant/payout:
    post:
      operationId: payout
      summary: Disburse funds to a beneficiary account
      tags:
        - Payout
      description: |
        Transfers funds from the merchant's settlement account to a whitelisted beneficiary ABA account. Beneficiaries must be added to the whitelist and approved before payouts can be made.
        NOTE: Per the official PayWay docs (developer.payway.com.kh), the payout hash uses hex-encoded HMAC (NOT base64): `hash_hmac('sha512', ..., api_key)` returns hex string directly. This differs from all other endpoints which use base64 encoding. The SDK should handle this accordingly.
      x-hmac-fields:
        - merchant_id
        - tran_id
        - beneficiaries
        - amount
        - custom_fields
        - currency
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutRequest'
      responses:
        '200':
          description: Payout result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/merchant-portal/merchant-access/whitelist-account/update-whitelist-status:
    post:
      operationId: updateBeneficiaryStatus
      summary: Update the status of a beneficiary
      tags:
        - Payout
      description: |
        Enables or disables a whitelisted beneficiary account. Disabled beneficiaries cannot receive payouts until re-enabled.
      x-hmac-fields:
        - request_time
        - merchant_auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBeneficiaryStatusRequest'
      responses:
        '200':
          description: Beneficiary status update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/merchant-portal/merchant-access/whitelist-account/add-whitelist-payout:
    post:
      operationId: addBeneficiary
      summary: Add a beneficiary to the payout whitelist
      tags:
        - Payout
      description: |
        Registers a new ABA account as a payout beneficiary. The beneficiary must be approved by ABA Bank before payouts can be directed to it. Up to 10 beneficiaries can be whitelisted.
      x-hmac-fields:
        - request_time
        - merchant_auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddBeneficiaryRequest'
      responses:
        '200':
          description: Beneficiary addition result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficiaryResponse'
        4XX:
          description: Client error (invalid hash, missing parameters, validation failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/payment-gateway/v1/payments/get-transactions-by-mc-ref:
    post:
      operationId: getTransactionsByMerchantRef
      summary: Get transactions by merchant reference
      tags:
        - KHQR Guideline
      description: |
        Retrieves purchase transactions using a merchant_ref number. Returns details for any past transaction, limited to the last 50 transactions matching the reference.
      x-hmac-fields:
        - req_time
        - merchant_id
        - merchant_ref
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTransactionsByMcRefRequest'
      responses:
        '200':
          description: Matching transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionsByMcRefResponse'
webhooks:
  paymentCallback:
    post:
      operationId: paymentCallback
      summary: PayWay's return_url callback (server-to-server pushback)
      description: |
        PayWay POSTs this to the merchant's return_url (or the profile's configured default) after payment completion. Verify X-PAYWAY-HMAC-SHA512 using the SORTED-KEY algorithm described in info.description item 3 — this is NOT the same signing function used for outbound requests. Reject with 401 on mismatch; do not process the notification.
      parameters:
        - name: X-PAYWAY-HMAC-SHA512
          in: header
          required: true
          schema:
            type: string
          description: |
            Base64 HMAC-SHA512 of the sorted-and-concatenated response body values, keyed by the merchant's api_key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCallbackBody'
      responses:
        '200':
          description: Acknowledge receipt (merchant endpoint's own response, not PayWay's)
components:
  securitySchemes:
    bodyFieldHmac:
      type: apiKey
      in: query
      name: hash
      description: |
        PayWay uses body-field HMAC signing — not a transport-level header. Every request carries a `hash` field inside the request body, computed as base64(HMAC-SHA512(concat(fields...), api_key)). See the `x-hmac-fields` extension on each operation for the ordered field list. This security scheme is a spec-level marker only; SDK codegen tooling must read `x-hmac-fields` explicitly.
  schemas:
    PurchaseRequest:
      type: object
      required:
        - req_time
        - merchant_id
        - tran_id
        - amount
        - hash
      properties:
        req_time:
          type: string
          description: UTC request timestamp, format YYYYMMDDHHmmss. Must be freshly generated at signing time.
          example: '20250213065545'
        merchant_id:
          type: string
          maxLength: 30
          description: Merchant key issued by ABA Bank.
        tran_id:
          type: string
          maxLength: 20
          description: Merchant-generated unique transaction identifier.
        firstname:
          type: string
          maxLength: 100
          description: Buyer's first name. Must not contain digits/special characters (rejected as error code 16).
        lastname:
          type: string
          maxLength: 100
          description: Buyer's last name. Same validation as firstname (error code 17).
        email:
          type: string
          maxLength: 50
          description: Buyer's email (validated server-side, error code 19 if invalid).
        phone:
          type: string
          maxLength: 20
          description: Buyer's phone (validated server-side, error code 18 if invalid).
        type:
          type: string
          maxLength: 20
          default: purchase
          enum:
            - purchase
            - pre-auth
          description: |
            "pre-auth" only supports ABA PAY, KHQR, and Card. Using pre-auth with an unsupported payment_option returns error code 22.
        payment_option:
          type: string
          maxLength: 20
          enum:
            - cards
            - abapay_khqr
            - abapay_khqr_deeplink
            - alipay
            - wechat
            - google_pay
          description: |
            Omit to let PayWay auto-display all payment options the merchant profile supports. abapay_khqr_deeplink changes the 200 response from HTML to a JSON object (qr_string, abapay_deeplink, checkout_qr_url) — see PurchaseQrResponse.
        items:
          type: string
          maxLength: 500
          description: |
            Base64-encoded JSON array of {name, quantity, price}. Descriptive only — NOT used for amount validation or calculation; `amount` is the sole source of truth for what's charged.
        shipping:
          type: number
          default: 0
          description: Shipping fee, additive to amount at checkout.
        amount:
          type: number
          description: |
            Purchase amount. Zero is rejected (error 45). KHR currency cannot carry decimals (error 46) and must exceed 100 KHR (error 47).
        currency:
          type: string
          enum:
            - KHR
            - USD
          description: Defaults to the currency of the first account on the merchant profile if omitted.
        return_url:
          type: string
          description: |
            Base64-encoded callback URL. Custom return_url values must be pre-whitelisted on the merchant profile (error 6/81) or the request is rejected.
        cancel_url:
          type: string
          description: Redirect target when the customer closes/cancels the payment dialog.
        skip_success_page:
          type: integer
          enum:
            - 0
            - 1
          description: |
            Overrides the profile-level "skip success page" setting for this request only. 1 = skip, redirecting via continue_success_url.
        continue_success_url:
          type: string
          description: Redirect target after a successful payment (used when skip_success_page=1).
        return_deeplink:
          type: string
          description: |
            Base64-encoded JSON {ios_scheme, android_scheme}. Mandatory for mobile-app integrations so ABA Mobile can hand control back to the merchant's native app.
        custom_fields:
          type: string
          description: |
            Base64-encoded arbitrary JSON merchants want attached to the transaction record/export (not used by PayWay's own logic).
        return_params:
          type: string
          description: Opaque string echoed back verbatim in the return_url pushback payload.
        view_type:
          type: string
          enum:
            - hosted_view
            - popup
          description: hosted_view opens a new tab; popup renders as a bottom sheet (mobile) or modal (desktop).
        payment_gate:
          type: integer
          description: Set to 0 to route through Checkout service when the profile also has QR Payment API enabled.
        payout:
          type: string
          description: |
            Base64-encoded JSON array of {acc, amt} splitting the payment across up to 10 destination accounts (error 25 if exceeded). Accounts must be whitelisted first (error 37).
        additional_params:
          type: string
          description: Base64-encoded JSON, currently only used for WeChat Mini Program (wechat_sub_appid, wechat_sub_openid).
        lifetime:
          type: integer
          description: |
            Minutes before the payment link expires. Min 3, max 43200 (30 days). Below 3 is rejected (error 69). Behavior on expiry differs by method: ABA PAY/Card simply fail; KHQR reverses funds to the payer; WeChat/Alipay do not reverse.
        google_pay_token:
          type: string
          description: Required when payment_option=google_pay and the merchant manages payment-method selection itself.
        hash:
          type: string
          description: |
            base64(HMAC-SHA512(concat_in_x-hmac-fields-order, api_key)). See operation-level x-hmac-fields for the exact field order — it is NOT alphabetical and NOT the same as check/close-transaction.
    PurchaseQrResponse:
      type: object
      description: Returned instead of HTML when payment_option=abapay_khqr_deeplink.
      properties:
        qr_string:
          type: string
          description: Raw KHQR payload string, scannable by any KHQR-member banking app.
        abapay_deeplink:
          type: string
          description: Deeplink that opens ABA Mobile directly to the pre-filled payment.
        checkout_qr_url:
          type: string
          description: Hosted URL rendering the QR code as an image/page, for platforms that can't render qr_string themselves.
    ErrorStatus:
      type: object
      description: |
        purchase's JSON error shape (distinct from the HTML success path). Non-exhaustive: purchase alone defines ~80 distinct error codes (wrong hash, invalid amount, currency not allowed, payout validation, Google Pay token failures, etc.) — pull the full table from the scraped spec into your SDK's error-code enum rather than hand-copying a subset here; this skeleton intentionally does not restate all ~80 to keep the spec reviewable, but the generated client MUST surface `code` typed, not just `message` stringly.
      properties:
        status:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
          required:
            - code
            - message
      required:
        - status
    StatusBlock:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: |
            Endpoint-specific status code. NOTE: check-transaction and close-transaction each define their own code space (e.g. "00" success vs "0" on purchase-family errors) — do not assume a single shared enum across endpoints; encode per-operation code tables separately in the generated SDK's error types.
        message:
          type: string
          description: Human-readable detail for `code`.
        tran_id:
          type: string
          description: Echoes the transaction id the status applies to.
        lang:
          type: string
          description: |
            Observed empirically (live sandbox probe, 2026-07-16) on transaction-list-2's error responses only (e.g. "en"). Not confirmed present on other -2 endpoints or on success responses -- treat as optional/nullable everywhere, and re-verify before assuming it appears on a given operation.
        trace_id:
          type: string
          description: |
            Observed empirically (live sandbox probe, 2026-07-16) on transaction-list-2's error responses only. Same caveat as `lang` -- optional, not confirmed on other endpoints.
    ErrorResponse:
      type: object
      description: |
        Standard error response returned by PayWay on validation failures, authentication errors, or business-logic rejections. The `status.code` field contains an endpoint-specific error code (e.g. "1" for wrong hash, "49" for invalid date). The `status.message` provides a human-readable explanation.
      properties:
        status:
          $ref: '#/components/schemas/StatusBlock'
      required:
        - status
    TranLookupRequest:
      type: object
      required:
        - req_time
        - merchant_id
        - tran_id
        - hash
      description: Shared shape for check-transaction and close-transaction — both sign only these 3 fields (see per-operation x-hmac-fields).
      properties:
        req_time:
          type: string
          description: UTC request timestamp, format YYYYMMDDHHmmss.
        merchant_id:
          type: string
          description: Merchant key issued by ABA Bank.
        tran_id:
          type: string
          description: The original purchase transaction id to look up or close.
        hash:
          type: string
          description: base64(HMAC-SHA512(req_time + merchant_id + tran_id, api_key)).
    ecommerce-checkout_StatusBlock:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: |
            Endpoint-specific status code. NOTE: check-transaction and close-transaction each define their own code space (e.g. "00" success vs "0" on purchase-family errors) — do not assume a single shared enum across endpoints; encode per-operation code tables separately in the generated SDK's error types.
        message:
          type: string
          description: Human-readable detail for `code`.
        tran_id:
          type: string
          description: Echoes the transaction id the status applies to.
    CheckTransactionResponse:
      type: object
      required:
        - status
      properties:
        data:
          type: object
          description: Present on successful lookup (status.code == "00").
          properties:
            payment_status_code:
              type: integer
              description: 0=APPROVED/PRE-AUTH, 2=PENDING, 3=DECLINED, 4=REFUNDED, 7=CANCELLED
            payment_status:
              type: string
              enum:
                - APPROVED
                - PRE-AUTH
                - REFUNDED
                - PENDING
                - DECLINED
                - CANCELLED
            total_amount:
              type: number
              description: Amount due after discount.
            original_amount:
              type: number
            refund_amount:
              type: number
              description: Sum of all refunds issued against this transaction.
            discount_amount:
              type: number
              description: In the original transaction's currency.
            payment_amount:
              type: number
              description: Amount actually paid by the customer.
            payment_currency:
              type: string
            apv:
              type: string
              description: Transaction approval code.
            transaction_date:
              type: string
              description: Timestamp the transaction was created in the payment gateway.
        status:
          $ref: '#/components/schemas/ecommerce-checkout_StatusBlock'
      example:
        data:
          payment_status_code: 0
          payment_status: APPROVED
          total_amount: 10
          original_amount: 10
          refund_amount: 0
          discount_amount: 0
          payment_amount: 10
          payment_currency: USD
          apv: '619195'
          transaction_date: '2025-02-13 06:56:00'
        status:
          code: '00'
          message: Success!
          tran_id: '17394277693'
    CloseTransactionResponse:
      type: object
      required:
        - status
      properties:
        status:
          $ref: '#/components/schemas/ecommerce-checkout_StatusBlock'
    TransactionOperation:
      type: object
      description: One entry in a transaction's operation history (capture, pre-auth completion/cancellation, refund).
      properties:
        status:
          type: string
          enum:
            - Completed
            - Pre-Auth
            - Completed Pre-Auth
            - Cancelled Pre-Auth
            - Refunded
        amount:
          type: number
          description: Amount associated with this specific operation, not the transaction total.
        transaction_date:
          type: string
          description: Timestamp this operation occurred.
        bank_ref:
          type: string
          description: Core-banking booking entry id — populated for ABA PAY operations only, blank otherwise.
    TransactionDetailResponse:
      type: object
      required:
        - status
      description: |
        Response for getTransactionDetail. NOT intended for real-time polling — see rate-limit note on the operation (10 req/min, not raisable).
      properties:
        data:
          type: object
          description: Present when status.code == "00".
          properties:
            transaction_id:
              type: string
              description: Echoes the requested tran_id.
            payment_status_code:
              type: integer
              description: 0=APPROVED/PRE-AUTH, 2=PENDING, 3=DECLINED, 4=REFUNDED, 7=CANCELLED
            payment_status:
              type: string
              enum:
                - APPROVED
                - PRE-AUTH
                - PENDING
                - DECLINED
                - REFUNDED
                - CANCELLED
            original_amount:
              type: number
              description: Before discount.
            original_currency:
              type: string
            payment_amount:
              type: number
              description: Amount actually paid by the customer.
            payment_currency:
              type: string
            total_amount:
              type: number
              description: Amount due after discount.
            refund_amount:
              type: number
              description: Total refunded to date.
            discount_amount:
              type: number
            apv:
              type: string
              description: Transaction approval code.
            transaction_date:
              type: string
            first_name:
              type: string
              description: Payer first name.
            last_name:
              type: string
              description: Payer last name.
            email:
              type: string
            phone:
              type: string
            bank_ref:
              type: string
              description: ABA core-banking booking entry reference.
            payment_type:
              type: string
              enum:
                - ABA Pay
                - Alipay
                - Wechat
                - KHQR
                - VISA
                - MC
                - JCB
                - CUP
            payer_account:
              type: string
              description: Masked account number or card PAN.
            bank_name:
              type: string
              description: ABA Bank for ABA PAY, or issuer bank for KHQR.
            card_source:
              type: string
              enum:
                - ONUS
                - OFFUS_DOMESTIC
                - OFFUS_INTERNATIONAL
            transaction_operations:
              type: array
              description: Full operation history for this transaction.
              items:
                $ref: '#/components/schemas/TransactionOperation'
        status:
          $ref: '#/components/schemas/ecommerce-checkout_StatusBlock'
          description: |
            code space for this endpoint: "00" success, "5" wrong hash (note: NOT "1" as in check/close-transaction — do not assume a shared numeric code space across endpoints), "6" transaction not found, "8" invalid merchant profile, "11" internal server error, "429" rate limit exceeded.
    TransactionListRequest:
      type: object
      required:
        - req_time
        - merchant_id
        - hash
      description: |
        All filter fields are optional but each still occupies a fixed position in the HMAC input per x-hmac-fields on the operation — pass them as null/empty rather than omitting the key.
      properties:
        req_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
        from_date:
          type:
            - string
            - 'null'
          description: Format YYYY-MM-DD HH:mm:ss. Defaults to today 00:00:00 if omitted.
        to_date:
          type:
            - string
            - 'null'
          description: Format YYYY-MM-DD HH:mm:ss. Defaults to today 23:59:59 if omitted. Date range capped at 3 days total.
        from_amount:
          type:
            - number
            - 'null'
        to_amount:
          type:
            - number
            - 'null'
        status:
          type:
            - string
            - 'null'
          description: Comma-separated for multiple values. Case-insensitive. One of APPROVED, PRE-AUTH, REFUNDED, PENDING, DECLINED, CANCELLED.
        page:
          type: string
          default: '1'
        pagination:
          type: string
          default: '40'
          description: Max 1000 records per page.
        hash:
          type: string
    TransactionListItem:
      type: object
      description: Same shape as TransactionDetailResponse.data minus transaction_operations (no per-item history in list view).
      properties:
        transaction_id:
          type: string
        transaction_date:
          type: string
        apv:
          type: string
        payment_status:
          type: string
          enum:
            - APPROVED
            - PRE-AUTH
            - REFUNDED
            - PENDING
            - DECLINED
            - CANCELLED
        payment_status_code:
          type: integer
        original_amount:
          type: number
        original_currency:
          type: string
          enum:
            - KHR
            - USD
        total_amount:
          type: number
        discount_amount:
          type: number
        refund_amount:
          type: number
        payment_amount:
          type: number
        payment_currency:
          type: string
        first_name:
          type: string
          description: Only present if enabled on the merchant profile.
        last_name:
          type: string
          description: Only present if enabled on the merchant profile.
        email:
          type: string
          description: Only present if enabled on the merchant profile.
        phone:
          type: string
          description: Only present if enabled on the merchant profile.
        bank_ref:
          type: string
          description: Only present if enabled on the merchant profile.
        payer_account:
          type: string
        bank_name:
          type: string
        card_source:
          type: string
          enum:
            - ONUS
            - OFFUS_DOMESTIC
            - OFFUS_INTERNATIONAL
        payment_type:
          type: string
          description: N/A for transactions still pending payment.
          enum:
            - N/A
            - ABA Pay
            - Alipay
            - Wechat
            - KHQR
            - VISA
            - MC
            - JCB
            - CUP
    TransactionListResponse:
      type: object
      required:
        - status
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TransactionListItem'
        page:
          type: string
          description: Current page index.
        pagination:
          type: string
          description: Records per page (max 1000).
        status:
          $ref: '#/components/schemas/ecommerce-checkout_StatusBlock'
          description: |
            code space: "00" success, "1" wrong hash, "8" invalid merchant profile, "11" internal server error, "429" rate limit exceeded (50 req/min on this endpoint).
    RefundRequest:
      type: object
      required:
        - request_time
        - merchant_id
        - merchant_auth
        - hash
      description: |
        NOTE the field name is `request_time`, not `req_time` as on every other endpoint in this spec — see info.description item 8.
      properties:
        request_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
          maxLength: 20
        merchant_auth:
          type: string
          description: |
            Base64 of RSA-encrypted, chunked JSON {mc_id, tran_id, refund_amount}. See x-merchant-auth-encryption on the refund operation for the exact construction process and required credential (a separate RSA public key from ABA Bank, distinct from the HMAC api_key).
        hash:
          type: string
          description: base64(HMAC-SHA512(request_time + merchant_id + merchant_auth, api_key)).
    RefundResponse:
      type: object
      required:
        - status
      properties:
        grand_total:
          type: number
          format: double
          description: Amount after any discount, e.g. $20 purchase with $2 discount -> grand_total $18.
        total_refunded:
          type: number
          format: double
          description: Cumulative refunded amount across all partial refunds issued so far.
        currency:
          type: string
          description: Original transaction currency.
        transaction_status:
          type: string
          description: REFUNDED for both full and partial refunds.
        status:
          type: object
          required:
            - code
            - message
          description: |
            Distinct, alphanumeric code space unique to this endpoint — do not reuse StatusBlock's assumption of numeric-string codes. Notable codes: 00 success, PTL02 invalid hash, PTL37 refund exceeds original amount, PTL57/PTL58 unable/failed to refund, PTL168 concurrent request rejected, PTL181 insufficient available balance.
          properties:
            code:
              type: string
            message:
              type: string
    ExchangeRateRequest:
      type: object
      required:
        - req_time
        - merchant_id
        - hash
      properties:
        req_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
        hash:
          type: string
          description: base64(HMAC-SHA512(req_time + merchant_id, api_key)) — only 2 fields, the shortest hash input in this API surface.
    CurrencyRate:
      type: object
      required:
        - sell
        - buy
      properties:
        sell:
          type: string
          description: Sell rate, as a decimal string.
        buy:
          type: string
          description: Buy rate, as a decimal string.
    ExchangeRateResponse:
      type: object
      required:
        - status
        - exchange_rates
      description: |
        The vendor's own schema listed an inconsistent `required` array under exchange_rates (omitting some currencies present in `properties`) — treated as a docs artifact and modeled here via additionalProperties instead of a hardcoded required list, since the actual currency set PayWay returns may change over time without notice.
      properties:
        status:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: 00 success, 1 wrong hash, 26 invalid merchant profile.
            message:
              type: string
        exchange_rates:
          type: object
          description: |
            Keyed by lowercase ISO currency code (observed: aud, sgd, eur, gbp, myr, thb, hkd, cny, cad, krw, jpy, vnd). Modeled with additionalProperties rather than enumerating every key as required, since PayWay could add/remove currencies.
          additionalProperties:
            $ref: '#/components/schemas/CurrencyRate'
    LinkAccountRequest:
      type: object
      required:
        - request_id
        - request_time
        - merchant_id
        - ctid
        - token_flag
        - currency
        - hash
      properties:
        request_id:
          type: string
          description: Unique request identifier generated by the merchant. 5–24 chars, letters+digits only. "We only return the last record" for a reused request_id.
        request_time:
          type: string
          description: UTC timestamp, format YYYYMMDDHHmmss.
        merchant_id:
          type: string
          description: Merchant key issued by ABA Bank.
        ctid:
          type: string
          description: Customer token identifier — merchant-side unique ID for the customer. 5–24 chars, letters+digits only. Required per live docs.
        return_deeplink:
          type: string
          description: Base64-encoded JSON {ios_scheme, android_scheme} for mobile app integration.
        token_flag:
          type: string
          enum:
            - CITI_FLEX
            - CITO_FLEX
          description: |
            Live docs list CITI_FLEX (customer-initiated, variable amount) and CITO_FLEX (merchant charges later, variable) for link-account. Sandbox additionally accepted CITO_FIX / CITR_FLEX (§9b) — keep sending them only if the merchant profile enables them.
        currency:
          type: string
          enum:
            - KHR
            - USD
          description: Required per live docs (profile-enabled currency).
        callback_url:
          type: string
          description: Base64-encoded URL where PayWay sends the account details and token after linking. Defaults to the profile pushback_url.
        hash:
          type: string
          description: base64(HMAC-SHA512(concat_in_x-hmac-fields-order, api_key)).
    LinkAccountResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              description: 00 success; 04 invalid data (see errors map); 01 wrong hash; 98 merchant id not found; 104 merchant not enabled token flag.
            message:
              type: string
            trace_id:
              type: string
          description: On code 04 the binding layer adds an `errors` object keyed by field name.
        data:
          type: object
          properties:
            deeplink:
              type: string
              description: ABA Mobile deeplink for linking.
            qr_string:
              type: string
              description: QR payload for linking.
            expire_in:
              description: QR/deeplink expiry (10 minutes per live docs).
    LinkCardRequest:
      type: object
      required:
        - request_id
        - request_time
        - merchant_id
        - ctid
        - token_flag
        - currency
        - hash
      properties:
        request_id:
          type: string
          description: 5–24 chars, letters+digits only.
        request_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
        ctid:
          type: string
          description: Customer token identifier. 5–24 chars, letters+digits only. Required per live docs.
        token_flag:
          type: string
          enum:
            - CITI_FLEX
            - CITO_FLEX
          description: Live docs list CITI_FLEX / CITO_FLEX for link-card.
        frequency:
          type: string
          enum:
            - 1W
            - 1M
            - 2M
          description: Marked 'Required for Link Card' in live docs; the SDK warns when omitted (§16 realignment). Billing frequency.
        amount:
          type: string
          description: |
            Hash position ONLY (§16) — it participates in the HMAC (hashes as '') but has NO request body field. Listed here to document the quirk; do not send it.
        continue_success_url:
          type: string
          description: Base64-encoded URL — target of the hosted form's "Done" button.
        callback_url:
          type: string
          description: Base64-encoded token pushback URL; defaults to the profile pushback_url.
        currency:
          type: string
          enum:
            - KHR
            - USD
          description: Required per live docs (sandbox binds USD by default — §9a).
        hash:
          type: string
    CofPaymentRequest:
      type: object
      required:
        - request_time
        - merchant_id
        - tran_id
        - amount
        - currency
        - ctid
        - pwt
        - token_flag
        - hash
      properties:
        request_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
        tran_id:
          type: string
          maxLength: 20
          description: Merchant-generated unique transaction identifier.
        amount:
          type: number
          description: 'Payment amount. Floor: KHR >= 100, USD >= 0.01.'
        pwt:
          type: string
          description: PayWay token from link-account or link-card.
        ctid:
          type: string
          maxLength: 24
          description: Customer token identifier.
        first_name:
          type: string
          maxLength: 20
        last_name:
          type: string
          maxLength: 20
        email:
          type: string
          maxLength: 50
        phone:
          type: string
          maxLength: 20
        purchase_type:
          type: string
          enum:
            - purchase
            - pre-auth
          default: purchase
        callback_url:
          type: string
          description: Base64-encoded.
        items:
          type: string
          maxLength: 500
          description: Base64-encoded JSON [{name,quantity,price}].
        return_params:
          type: string
          maxLength: 500
        payout:
          type: string
          maxLength: 500
          description: Base64-encoded JSON [{acc,amt}].
        custom_fields:
          type: string
          maxLength: 500
          description: Base64-encoded JSON.
        token_flag:
          type: string
          enum:
            - CITU_FLEX
            - MITU_FLEX
            - MITR_FIX
          description: Live-documented charging flags. Sandbox additionally accepted MITU_FIX / MITR_FLEX (§9b).
        shipping_fee:
          type: number
          description: Shipping fee — 'can be any amount' per live docs.
        currency:
          type: string
          enum:
            - KHR
            - USD
        hash:
          type: string
    CofPaymentResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              description: 00 success; 04 invalid data (errors map); 01 wrong hash; 98 merchant id not found.
            message:
              type: string
            tran_id:
              type: string
            trace_id:
              type: string
          description: On code 04 the binding layer adds an `errors` object keyed by field name.
    RenewTokenRequest:
      type: object
      required:
        - request_id
        - request_time
        - merchant_id
        - ctid
        - pwt
        - hash
      description: |
        Account tokens only. Live-documented hash order: ctid, request_time, pwt, merchant_id, request_id (differs from every other CoF endpoint).
      properties:
        request_id:
          type: string
          description: 5–24 chars, letters+digits only.
        request_time:
          type: string
        merchant_id:
          type: string
        ctid:
          type: string
          description: 5–24 chars, letters+digits only.
        pwt:
          type: string
        hash:
          type: string
    RenewTokenResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              description: 00 success (example also carries tran_id); 4 invalid data; 1 wrong hash; 98 merchant id not found; 105 invalid payment credential token.
            message:
              type: string
            tran_id:
              type: string
            trace_id:
              type: string
        new_token:
          type: string
          description: New payment token replacing the old one.
    GetTokenDetailsRequest:
      type: object
      required:
        - request_id
        - request_time
        - merchant_id
        - hash
      description: |
        Per the live docs this endpoint takes ONLY request_time, merchant_id, and request_id — no ctid, no pwt. Hash order: merchant_id, request_time, request_id.
      properties:
        request_id:
          type: string
          description: 5–24 chars, letters+digits only — the original link/renew request_id.
        request_time:
          type: string
        merchant_id:
          type: string
        hash:
          type: string
    GetTokenDetailsResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              description: 00 success; 04 invalid data (errors map); 1 wrong hash; 98 merchant id not found; 104 data not found.
            message:
              type: string
            trace_id:
              type: string
        data:
          type: object
          properties:
            source_of_fund:
              type: string
              description: Masked account/card — last 4 visible.
            type:
              type: string
              description: Visa | MC | CUP | JCB | ABA ACCOUNT.
            status:
              type: integer
              description: 0 removed, 1 active, 2 frozen.
            expired_at:
              type: string
              description: Token expiry (date-time).
            token_flag:
              type: string
              description: CITI_FLEX | CITO_FLEX | CITR_FIX.
            frequency:
              type: string
              description: Empty for FLEX flags; 1W/1M/2M for CITR_FIX.
            amount_limit_per_tran:
              type: number
              description: '= subscribed_amount for CITR_FIX.'
            ctid:
              type: string
            pwt:
              type: string
            subscribed_amount:
              type: number
              description: Fixed recurring amount; 0 for FLEX flags.
            currency:
              type: string
    RemoveTokenRequest:
      type: object
      required:
        - request_time
        - merchant_id
        - ctid
        - pwt
        - hash
      description: |
        Per the live docs the request carries request_time, merchant_id, ctid, and pwt — no request_id. Hash order: merchant_id, ctid, request_time, pwt.
      properties:
        request_time:
          type: string
        merchant_id:
          type: string
        ctid:
          type: string
        pwt:
          type: string
        hash:
          type: string
    RemoveTokenResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              description: 00 success; 04 invalid data (errors map); 98 merchant id not found; 01 wrong hash.
            message:
              type: string
            trace_id:
              type: string
    GenerateQrRequest:
      type: object
      required:
        - req_time
        - merchant_id
        - tran_id
        - payment_option
        - amount
        - lifetime
        - qr_image_template
        - hash
        - currency
      properties:
        req_time:
          type: string
          description: UTC request timestamp, format YYYYMMDDHHmmss.
        merchant_id:
          type: string
          maxLength: 30
          description: Merchant key issued by ABA Bank.
        tran_id:
          type: string
          maxLength: 20
          description: Merchant-generated unique transaction identifier.
        first_name:
          type: string
          maxLength: 20
          description: Payer's first name.
        last_name:
          type: string
          maxLength: 20
          description: Payer's last name.
        email:
          type: string
          maxLength: 50
          description: Payer's email address.
        phone:
          type: string
          maxLength: 20
          description: Payer's phone number.
        amount:
          type: number
          description: 'Payment amount. Minimum: 100 KHR or 0.01 USD.'
        purchase_type:
          type: string
          maxLength: 20
          enum:
            - purchase
            - pre-auth
          description: 'Supported values: `pre-auth` and `purchase`. Default: `purchase`. Note: Alipay & WeChat do not support pre-auth.'
        payment_option:
          type: string
          maxLength: 20
          description: 'Supported payment options: - `abapay_khqr`: ABA KHQR - `wechat`: WeChat QR (USD only) - `alipay`: Alipay QR (USD only)'
        items:
          type: string
          maxLength: 500
          description: 'Item list description in Base64-encoded JSON format. Maximum of 10 items. Note: This is only description/remark — price/quantity not used for validation.'
        callback_url:
          type: string
          maxLength: 255
          description: Base64-encoded callback URL.
        return_deeplink:
          type: string
          maxLength: 255
          description: Base64-encoded JSON with `android_scheme` and `ios_scheme` keys.
        custom_fields:
          type: string
          maxLength: 255
          description: Base64-encoded additional custom fields.
        return_params:
          type: string
          description: Additional information to include in the pushback.
        payout:
          type: string
          maxLength: 255
          description: Payout instructions in a Base64-encoded JSON string.
        currency:
          type: string
          enum:
            - KHR
            - USD
        qr_image_template:
          type: string
          maxLength: 20
          description: QR image template option.
        lifetime:
          type: integer
          description: 'Transaction lifetime in minutes. Default: 30 days. Minimum: 3 mins. Maximum: 120 days.'
        hash:
          type: string
          description: base64(HMAC-SHA512(concat_in_x-hmac-fields-order, api_key)).
    GenerateQrResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              description: 'Response code: - `0`: Success - `1`: Wrong Hash - `6`: Domain not in whitelist - `12`: Currency not allowed - `23`: Payment option not enabled - `429`: Rate limit exceeded'
            message:
              type: string
            trace_id:
              type: string
              description: Unique request trace identifier.
        amount:
          type: number
          description: Transaction amount.
        currency:
          type: string
          description: Transaction currency.
        qrString:
          type: string
          description: Raw KHQR payload string, scannable by any KHQR-member banking app.
        qrImage:
          type: string
          description: Data URL containing the rendered QR PNG image (base64).
        abapay_deeplink:
          type: string
          description: ABA Mobile deeplink to open ABA Mobile for payment confirmation.
        app_store:
          type: string
          description: App Store URL for ABA Mobile (fallback if deeplink fails).
        play_store:
          type: string
          description: Play Store URL for ABA Mobile (fallback if deeplink fails).
    CreatePaymentLinkRequest:
      type: object
      required:
        - request_time
        - merchant_id
        - merchant_auth
        - hash
      description: |
        Uses RSA-encrypted merchant_auth containing transaction details. See x-merchant-auth-encryption on the operation for encryption process. Sandbox-verified: currency and return_url are REQUIRED inside merchant_auth (PTL04 "Parameter validation required" when omitted). Sent as multipart/form-data. The HMAC hash covers request_time + merchant_id + merchant_auth ONLY — the optional image bytes are never hashed (per ABA's official PHP sample).
      properties:
        request_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
          description: Merchant key issued by ABA Bank.
        merchant_auth:
          type: string
          description: |
            Base64 of RSA-encrypted, chunked JSON containing transaction details (title, amount, currency, description, payment_limit, return_url, merchant_ref_no, expired_date, payout).
        hash:
          type: string
          description: base64(HMAC-SHA512(request_time + merchant_id + merchant_auth, api_key)).
        payout:
          type: string
          description: |
            Optional split-payout instructions INSIDE the merchant_auth plaintext (JSON array "[{acc, amt}]" as a string value — the whole auth payload is JSON-encoded, so an array value would double-encode). Documented rule: the total payout amt must equal the link amount. Officially optional. Listed here as a top-level property so schema tooling can see it; the wire format is the merchant_auth plaintext shape (see x-merchant-auth-encryption).
        image:
          type: string
          format: binary
          description: |
            Optional image shown with the payment link (top-level multipart part, not part of the hash). The created PaymentLink echoes it back as the `image` object.
    PaymentLinkStatus:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        tran_id:
          type: string
        lang:
          type: string
        trace_id:
          type: string
    PaymentLink:
      type: object
      description: A payment link resource as returned by the create and detail endpoints (sandbox-verified shape).
      properties:
        id:
          type: string
          description: Payment link id used with the detail endpoint (e.g. "zX71gfZgVme0juZANHfZMA=="). NOT the slug in the payment_link URL.
        title:
          type: string
        image:
          type: object
          properties:
            image:
              type: string
            filename:
              type: string
            size:
              type: integer
        amount:
          type: string
          description: Amount as a string (e.g. "0.02").
        currency:
          type: string
          enum:
            - USD
            - KHR
        status:
          type: string
          description: Link status (e.g. OPEN).
        description:
          type: string
        payment_limit:
          type: integer
        total_amount_org:
          type: number
          description: Total payment amount before refunds (official schema says string; observed numeric — do not rely on the type).
        total_refund:
          type: number
          description: 'Total refunded amount (official create schema: number; official detail schema: string — observed numeric; do not rely on the type).'
        total_amount:
          type: number
          description: Total amount after refunds.
        total_trxn:
          type: integer
          description: The total number of completed payment transactions (0 on create).
        created_at:
          type: string
          description: YYYY-MM-DD HH:mm:ss
        updated_at:
          type: string
          description: YYYY-MM-DD HH:mm:ss
        expired_date:
          oneOf:
            - type: integer
            - type: string
          description: |
            Epoch seconds when set; echoes "0" (string) when unset. Number or string both accepted at create. Sandbox-verified (2026-09-06): a past value or one under ~5 minutes in the future is rejected PTL04; offsets from +300s upward are accepted. No EXPIRED status exists — detail keeps reporting OPEN after expiry and the hosted page still answers 200.
        return_url:
          type: string
          description: Decoded callback URL.
        pushback_url:
          type: string
          description: |
            The URL the gateway calls to send payment status updates (detail endpoint; official detail schema — absent from sandbox detail responses). The pushback body is live-captured (2026-09-06): POST application/json, User-Agent PayWayApp/3.0, body {tran_id (string), status (numeric 0 = approved), merchant_ref_no} — NO hash field; verify via check-transaction, not verifyCallback.
        merchant_ref_no:
          type: string
        outlet_id:
          type: string
        outlet_name:
          type: string
        payout:
          oneOf:
            - type: object
            - type: array
            - type: 'null'
          description: |
            Payout details (null when none). PLACEMENT IS UNVERIFIED: the official apidog create schema places a top-level payout array of {acc, amt, acc_name}; the official overview sample response shows it inside data as an array. oneOf both shapes until probe V-2 settles it (see HANDOFF §9 open items) — do not rely on either.
        payment_link:
          type: string
          description: Hosted checkout URL to share with customers (e.g. https://link-sandbox.payway.com.kh/ABAPAYzC80644N).
    CreatePaymentLinkResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/PaymentLinkStatus'
        tran_id:
          description: |
            Gateway log id. Official schemas say string; sandbox-observed as a NUMBER on both create and detail (2026-09-06) — coerce, do not rely on the type.
          oneOf:
            - type: integer
            - type: string
        data:
          $ref: '#/components/schemas/PaymentLink'
    GetPaymentLinkDetailsRequest:
      type: object
      required:
        - request_time
        - merchant_id
        - merchant_auth
        - hash
      properties:
        request_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
        merchant_auth:
          type: string
          description: RSA-encrypted JSON {mc_id, id}.
        hash:
          type: string
          description: base64(HMAC-SHA512(request_time + merchant_id + merchant_auth, api_key)).
    GetPaymentLinkDetailsResponse:
      type: object
      description: |
        Sandbox-observed (2026-09-06): a bogus link id answers HTTP 403 code 96 "Invalid merchant data" — the officially documented PTL132 was NOT reproduced on this sandbox profile. Sandbox detail responses carry no pushback_url.
      properties:
        status:
          $ref: '#/components/schemas/PaymentLinkStatus'
        tran_id:
          description: |
            Gateway log id. Official schemas say string; sandbox-observed as a NUMBER (2026-09-06) — coerce, do not rely on the type.
          oneOf:
            - type: integer
            - type: string
        data:
          $ref: '#/components/schemas/PaymentLink'
    VoidPaymentLinkRequest:
      type: object
      required:
        - request_time
        - merchant_id
        - merchant_auth
        - hash
      description: |
        UNDOCUMENTED endpoint — live-verified on the sandbox (SANDBOX-FINDINGS §23, 2026-09-11). Content-Type lenient: both application/json and application/x-www-form-urlencoded are accepted.
      properties:
        request_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
        merchant_auth:
          type: string
          description: RSA-encrypted JSON {mc_id, id} — same shape as the detail endpoint.
        hash:
          type: string
          description: base64(HMAC-SHA512(request_time + merchant_id + merchant_auth, api_key)).
    VoidPaymentLinkResponse:
      type: object
      description: |
        Live-verified (SANDBOX-FINDINGS §23, 2026-09-11): success answers {status:{code:"00",message:"Success.",lang,trace_id}, tran_id}. Void is NOT idempotent — a second void answers HTTP 403 code PTL188 "The payment link is already voided."; a bogus link id answers HTTP 403 code 96 "Invalid merchant data". Post-void, detail reports the previously-unobserved status "VOIDED".
      properties:
        status:
          $ref: '#/components/schemas/PaymentLinkStatus'
        tran_id:
          description: |
            Gateway log id. Sandbox-observed as a NUMBER (2026-09-11) — coerce, do not rely on the type.
          oneOf:
            - type: integer
            - type: string
    CompletePreAuthRequest:
      type: object
      required:
        - request_time
        - merchant_id
        - merchant_auth
        - hash
      description: |
        Uses RSA-encrypted merchant_auth. NOTE: uses request_time (not req_time), same convention as the Refund endpoint.
      properties:
        request_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
        merchant_auth:
          type: string
          description: |
            Base64 of RSA-encrypted JSON {mc_id, tran_id, complete_amount, payout?}.
        hash:
          type: string
          description: base64(HMAC-SHA512(request_time + merchant_id + merchant_auth, api_key)).
    CompletePreAuthResponse:
      type: object
      properties:
        status:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
        transaction_status:
          type: string
          description: Updated status after completion (e.g., APPROVED).
        total_amount:
          type: number
    CancelPreAuthRequest:
      type: object
      required:
        - request_time
        - merchant_id
        - merchant_auth
        - hash
      properties:
        request_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
        merchant_auth:
          type: string
          description: Base64 of RSA-encrypted JSON {mc_id, tran_id}.
        hash:
          type: string
          description: base64(HMAC-SHA512(request_time + merchant_id + merchant_auth, api_key)).
    CancelPreAuthResponse:
      type: object
      properties:
        status:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
        transaction_status:
          type: string
          description: Updated status after cancellation (e.g., CANCELLED).
    PayoutRequest:
      type: object
      required:
        - merchant_id
        - tran_id
        - beneficiaries
        - amount
        - currency
        - hash
      properties:
        merchant_id:
          type: string
          description: Merchant key issued by ABA Bank.
        tran_id:
          type: string
          maxLength: 20
          description: Merchant-generated unique payout transaction identifier.
        amount:
          type: number
          description: Payout amount.
        beneficiaries:
          type: string
          description: Base64 of RSA-encrypted JSON array of {account, amount}.
        currency:
          type: string
          enum:
            - KHR
            - USD
        custom_fields:
          type: string
          description: JSON string associated with the payout.
        hash:
          type: string
          description: hex(HMAC-SHA512(merchant_id + tran_id + beneficiaries + amount + custom_fields + currency, api_key)).
    PayoutResponse:
      type: object
      properties:
        status:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
            tran_id:
              type: string
        bank_ref:
          type: string
          description: Core-banking reference for the payout transaction.
    UpdateBeneficiaryStatusRequest:
      type: object
      required:
        - request_time
        - merchant_id
        - merchant_auth
        - hash
      properties:
        request_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
        merchant_auth:
          type: string
          description: Base64 of RSA-encrypted JSON {mc_id, payee, status}, where status is 0 or 1.
        hash:
          type: string
          description: base64(HMAC-SHA512(request_time + merchant_auth, api_key)).
    BeneficiaryResponse:
      type: object
      properties:
        status:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
    AddBeneficiaryRequest:
      type: object
      required:
        - request_time
        - merchant_id
        - merchant_auth
        - hash
      properties:
        request_time:
          type: string
          description: UTC timestamp, YYYYMMDDHHmmss.
        merchant_id:
          type: string
        merchant_auth:
          type: string
          description: Base64 of RSA-encrypted JSON {mc_id, payee}.
        hash:
          type: string
          description: base64(HMAC-SHA512(request_time + merchant_auth, api_key)).
    GetTransactionsByMcRefRequest:
      type: object
      required:
        - req_time
        - merchant_id
        - merchant_ref
        - hash
      properties:
        req_time:
          type: string
          description: UTC timestamp, format YYYYMMDDHHmmss.
          example: '20250213084236'
        merchant_id:
          type: string
          description: Merchant key issued by ABA Bank.
          example: ec000002
[...]
